/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-primary-color-bg{
    background-color: #004a7f !important;
}

.app-minh-100{
    min-height: 100%;
}
.app-minh-75{
    min-height: 75%;
}