<div class="container-fluid h-75 mb-5">
  <div class="container-fluid justify-content-center align-items-center">
    <div class="row mb-3 mt-5">
      <div class="col-12 text-center">
        <p class="h1">Welcome to the Salesloft Challenge App</p>
      </div>
      <div class="col-12 text-center">
        <p class="h3 lead">Here you can check the people list, generate the character repetition table and search for
          duplicates!</p>
      </div>
    </div>
    <div class="row mt-5 mx-xl-5 mx-lg-3 mx-md-2 mx-1 justify-content-center align-items-center">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-4 text-center text-md-right">
            <button type="button" id="people-link" class="btn btn-dark btn-size-big h3"
              [routerLink]="['/people']">Check People</button>
          </div>
          <div class="col-12 col-md-4 text-center text-md-center">
            <button type="button" id="character-frequency-link" class="btn btn-light btn-dark-border btn-size-big h3"
              [routerLink]="['/character-frequency']">Check Character Frequency</button>
          </div>
          <div class="col-12 col-md-4 text-center text-md-left">
            <button type="button" id="duplicate-link" class="btn btn-light btn-dark-border btn-size-big h3"
              [routerLink]="['/duplicates']">Check Email Duplicates</button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>