<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">
        <a class="h5 bold  text-light" id="logo-link" [routerLink]="['/home']">
            <h4>SalesLoft - Interview Challenge</h4>
        </a>
    </span>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="row collapse navbar-collapse br-padding-right-md" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto font-white">
            <li class="nav-item">
                <a class="nav-link text-light br-cursor-pointer" id="home-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light br-cursor-pointer" id="people-link" [routerLink]="['/people']">People</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light br-cursor-pointer" id="character-frequency-link" [routerLink]="['/character-frequency']">Character Count</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light br-cursor-pointer" id="duplicate-link" [routerLink]="['/duplicates']">Duplicate Detection</a>
            </li>

        </ul>
    </div>
</nav>
<!--Loader spinner-->
<app-loader></app-loader>